<tr>
  <td><%= transfer.id %></td>
  <td><%= transfer.category %></td>
  <td><%= transfer.sender.email %></td>
  <td><%= transfer.recipient.email %></td>
  <td><%= transfer.amount %></td>
  <td><%= transfer.created_at %></td>
</tr>
